/* CandidateList.css */

.candidate-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    
}

.candidate-item {
    width: calc(33% - 10px); /* Calculate width to fit four items per row with margin */
    margin-bottom: 2px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box; /* Include padding and border in the element's total width */
}

.candidate-item:hover {
    transform: translateY(-5px);
}

/* Add any other styles as needed */
